---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Decoration from '../components/Decoration.astro';
import Products from '../components/Products.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Pagina principal" description='pagina principal pra la impresio 3d....'>
	<main>			  
		<SectionContainer id="inicio">
			<Hero>
			<Hero />
		</SectionContainer>
		<SectionContainer id="decoracion">
			<Decoration>
			<Decoration />
		</SectionContainer>
		<SectionContainer id="seccion-productos">
			<Products>
			<Products />
		</SectionContainer>
		<SectionContainer id="servicios">
			<Services>
			<Services />
		</SectionContainer>
		<SectionContainer id="contacto">
			<Contact>
			<Contact />
		</SectionContainer>
		
	</main>
</Layout>

<script>
	document.addEventListener("astro:page-load", () => {
		const hash = window.location.hash;
		if (hash) {
			const element = document.querySelector(hash);
			if (element) {
				element.scrollIntoView({ behavior: "smooth" });
			}
		}
	});
</script>
