---
import Whatsapp from "./icons/Whatsapp.astro"
import Email from "./icons/Email.astro"
---

<section class="pt-36">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="mx-auto max-w-3xl">
      <header class="text-center">
        <h1 class="text-xl font-bold text-dark dark:text-white sm:text-3xl">Tu Carrito</h1>
      </header>

      <div class="mt-8">
        <ul id="cart-list" class="space-y-4">
          <!-- Los elementos del carrito se agregarán dinámicamente aquí -->
        </ul>
            <div class="flex justify-end">
              <button id="whatsapp-button" class="text-white bg-green-500 hover:bg-green-300 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-green-500 dark:hover:bg-green-300 dark:focus:ring-green-800">
                <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21"> 
                  <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"></path>
                </svg>
                Enviar carrito por WhatsApp
              </button>    
            </div>                     
        </div>
      </div>
    </div>
  </div>
</section>
