<section class="py-10">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <header class="text-center">
        <h2 class="text-xl font-bold text-dark dark:text-white sm:text-3xl">Productos</h2>
  
        <p class="mx-auto mt-4 max-w-md text-dark dark:text-white">
          Los productos de nuestra son los mejores en calidad y precio, no te pierdas nuestras ofertas.
        </p>
      </header>
  
      <ul class="mt-8 grid grid-cols-1 gap-4 lg:grid-cols-3">
        <li>
          <a href="/productos/#Detalles-en-madera-y-plastico" class="group relative block">
            <img
              src="/Abrebotellas.webp"
              alt="imagen banner"
              class="aspect-square w-full object-cover transition duration-500 group-hover:opacity-90"
            />
  
            <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
              <h3 class="bg-white rounded p-2 text-xl font-medium text-black">Detalles en madera y plastico</h3>
  
              <span
                class="mt-1.5 inline-block rounded bg-red-500 px-5 py-3 text-xs font-medium uppercase tracking-wide text-white hover:bg-red-300 focus:outline-none focus:ring focus:ring-red-400"
              >
                Ver más
              </span>
            </div>
          </a>
        </li>
  
        <li>
          <a href="/productos/#Termos-Personalizados" class="group relative block">
            <img
              src="/Termos.webp"
              alt=""
              class="aspect-square w-full object-cover transition duration-500 group-hover:opacity-90"
            />
  
            <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
              <h3 class="bg-white rounded p-2 text-xl font-medium text-black">Termos personalizados</h3>
  
              <span
                class="mt-1.5 inline-block rounded bg-red-500 px-5 py-3 text-xs font-medium uppercase tracking-wide text-white hover:bg-red-300 focus:outline-none focus:ring focus:ring-red-400"
              >
                Ver más
              </span>
            </div>
          </a>
        </li>
  
        <li class="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1">
          <a href="/productos/#Figuras-y-Recuerdos" class="group relative block">
            <img
              src="/Deadpool.webp"
              alt=""
              class="aspect-square w-full object-cover transition duration-500 group-hover:opacity-90"
              loading="lazy"
            />
  
            <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
              <h3 class="bg-white rounded p-2 text-xl font-medium text-black">Figuras y recuerdos</h3>
  
              <span
                class="mt-1.5 inline-block rounded bg-red-500 px-5 py-3 text-xs font-medium uppercase tracking-wide text-white transition hover:bg-red-300 focus:outline-none focus:ring focus:ring-red-400"
              >
                Ver más
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>

  