<section class="text-dark dark:text:white">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="mx-auto max-w-lg text-center">
        <h2 class="text-3xl font-bold sm:text-4xl">Nuestro servicios</h2>
  
        <p class="mt-4 text-dark dark:text-white">
          Nuestros servicios ayudan a tu empresa a crecer y a llegar a más clientes, no te los pierdas y lee más.
        </p>
      </div>
  
      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <a
          class="       block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-red-500/10 hover:shadow-red-500/10"
        >

        <svg  xmlns="http://www.w3.org/2000/svg"  
          width="34"  
          height="34"  
          viewBox="0 0 24 24"  
          fill="none"  
          stroke="currentColor"  
          stroke-width="2"  
          stroke-linecap="round"  
          stroke-linejoin="round"  
          class="icon icon-tabler icons-tabler-outline icon-tabler-building-store text-red-500">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 21l18 0" />
          <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />
          <path d="M5 21l0 -10.15" />
          <path d="M19 21l0 -10.15" />
          <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
        </svg>
  
          <h2 class="mt-4 text-xl font-bold text-dark dark:text-white">Diseno de productos</h2>
  
          <p class="mt-1 text-sm text-dark dark:text-white">
            Nuestro servicio de diseno de productos es el mejor, no te pierdas la oportunidad de tener los mejores productos.
          </p>
        </a>
  
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-red-500/10 hover:shadow-red-500/10"
        >
        <svg  xmlns="http://www.w3.org/2000/svg"  
          width="34"  
          height="34"  
          viewBox="0 0 24 24"  
          fill="none"  
          stroke="currentColor"  
          stroke-width="2"  
          stroke-linecap="round"  
          stroke-linejoin="round"  
          class="icon icon-tabler icons-tabler-outline icon-tabler-package text-red-500">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" />
          <path d="M12 12l8 -4.5" />
          <path d="M12 12l0 9" />
          <path d="M12 12l-8 -4.5" />
          <path d="M16 5.25l-8 4.5" />
        </svg>
          <h2 class="mt-4 text-xl font-bold text-dark dark:text-white">Diseños de empaque</h2>
  
          <p class="mt-1 text-sm text-dark dark:text-white">
            Para el empaque de tus productos tenemos los mejores diseños, no te pierdas la oportunidad de tener los mejores productos.
          </p>
        </a>
  
        <a
          class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-red-500/10 hover:shadow-red-500/10"
        >
        <svg  xmlns="http://www.w3.org/2000/svg"  
          width="34"  
          height="34"  
          viewBox="0 0 24 24"  
          fill="none"  
          stroke="currentColor"  
          stroke-width="2"  
          stroke-linecap="round"  
          stroke-linejoin="round"  
          class="icon icon-tabler icons-tabler-outline icon-tabler-building-factory-2 text-red-500">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 21h18" />
          <path d="M5 21v-12l5 4v-4l5 4h4" />
          <path d="M19 21v-8l-1.436 -9.574a.5 .5 0 0 0 -.495 -.426h-1.145a.5 .5 0 0 0 -.494 .418l-1.43 8.582" />
          <path d="M9 17h1" />
          <path d="M14 17h1" />
      </svg>
  
          <h2 class="mt-4 text-xl font-bold text-dark dark:text-white">Linea de producción</h2>
  
          <p class="mt-1 text-sm text-dark dark:text-white">
            Nuestra linea de produccion es la mejor, llamanos y te ayudaremos a tener los mejores productos.
          </p>
        </a>

      </div>
  
    </div>
  </section>