<div class="flex justify-center pt-36" >
    <div class="max-w-md w-full">
      <div class="flex flex-wrap gap-2 justify-center">
        <a href="#Detalles-en-madera-y-plastico" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
          Detalles en madera y plástico
        </a>
        <a href="#Figuras-y-Recuerdos" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
          Figuras y recuerdos
        </a>
        <a href="#Diseno-interior" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
          Diseño interior
        </a>  
        <a href="#Termos-Personalizados" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
          Termos personalizados
        </a>         
      </div>
    </div>
  </div>
  